# Code Submission

Arushi Garg - 20203413

## Section 1

In [117]:
# import required packages here
import pandas as pd
import collections
from ast import literal_eval
from itertools import permutations
from mlxtend.preprocessing import TransactionEncoder
from mlxtend.frequent_patterns import apriori
from mlxtend.frequent_patterns import association_rules

In [118]:
# load the basket.csv file into a pandas DataFrame (df)
df = pd.read_csv('/Users/arushee/Documents/Smurfit/SEM 2/Data Management & Mining/Assosiation assign/assignment_1/data/basket.csv', converters={'Colours': literal_eval}) 

# Use df.shape to see the number of rows and columns in the df 
print(df.shape[0]) # number of rows 
print(df.shape[1]) # number of columns

15206
12

In [119]:
# Use df.head() to see the first 8 rows of the df
df.head(8)

,ID,0,1,2,3,4,5,6,7,8,9,10
0,1,whole milk,eggs,salty snack,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2,whole milk,eggs,white bread,yogurt,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,3,whole milk,eggs,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,4,whole milk,eggs,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,5,whole milk,eggs,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,6,whole milk,eggs,rolls/buns,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,7,whole milk,eggs,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,8,whole milk,eggs,whipped/sour cream,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [120]:
# Set the index of the df to the Transaction_ID column
df.set_index('ID', inplace=True)

# Use df.head() to see the first 3 rows of the df
df.head(3)

             0     1            2       3    4    5    6    7    8    9   10
ID
1   whole milk  eggs  salty snack     NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
2   whole milk  eggs  white bread  yogurt  NaN  NaN  NaN  NaN  NaN  NaN  NaN
3   whole milk  eggs          NaN     NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN

In [121]:
# Use the pandas describe method to get an overview of the dataset
df.describe()

,0,1,2,3,4,5,6,7,8,9,10
count,15206,15204,5218,2398,886,477,281,198,51,1,1
unique,141,143,134,128,111,96,80,65,35,1,1
top,whole milk,whole milk,whole milk,whole milk,whole milk,rolls/buns,yogurt,whole milk,shopping bags,jam,newspapers
freq,1418,1128,308,147,49,25,19,17,4,1,1

In [122]:
# create a list of lists, where each list contains the items in a given transaction
transactions = []
for i in range(0, len(df)): 
    transactions.append([str(df.values[i,j]) for j in range(0, len(df.columns))])

# view the first transaction in the list
transactions[:1]

[['whole milk',
  'eggs',
  'salty snack',
  'nan',
  'nan',
  'nan',
  'nan',
  'nan',
  'nan',
  'nan',
  'nan']]

In [123]:
# from your list of lists, create a flattened list that contains all items purchased
flattened = [item for transaction in transactions for item in transaction]
# view the length of the list
print(len(flattened))

167266

In [124]:
# create a list of unique items from the flattened list
items = list(set(flattened))

# remove any elements that items of interest (like empty strings or nan values)
if 'nan' in flattened: flattened.remove('nan')

# print out how many unique items we have
print('# of items:',len(items))

# of items: 149

In [125]:
# generate the itemset permutations up to 2-itemsets
rules = list(permutations(items, 2))

# print out the number of rules
print('# of rules:',len(rules))

# print some of the elements of the list of rules
print(rules[:6])

# of rules: 22052
[('rice', 'butter'), ('rice', 'cling film/bags'), ('rice', 'salt'), ('rice', 'chicken'), ('rice', 'white bread'), ('rice', 'ketchup')]

In [126]:
# generate the frequency counts for each unique item in the dataset
item_freq = collections.Counter(flattened)

# show the most common
item_freq.most_common()

[('nan', 127344),
 ('whole milk', 3102),
 ('other vegetables', 2025),
 ('berries', 1848),
 ('rolls/buns', 1714),
 ('soda', 1507),
 ('yogurt', 1399),
 ('root vegetables', 1186),
 ('beef', 1158),
 ('tropical fruit', 1046),
 ('bottled water', 939),
 ('citrus fruit', 812),
 ('pastry', 788),
 ('eggs', 778),
 ('pip fruit', 740),
 ('chocolate', 736),
 ('shopping bags', 729),
 ('canned beer', 717),
 ('coffee', 715),
 ('bottled beer', 698),
 ('whipped/sour cream', 654),
 ('brown bread', 651),
 ('pork', 629),
 ('newspapers', 600),
 ('white bread', 549),
 ('cake', 544),
 ('jam', 544),
 ('butter', 534),
 ('fruit/vegetable juice', 521),
 ('margarine', 491),
 ('chicken', 456),
 ('grapes', 432),
 ('frozen vegetables', 426),
 ('cream cheese ', 358),
 ('napkins', 340),
 ('waffles', 305),
 ('onions', 304),
 ('salty snack', 285),
 ('long life bakery product', 269),
 ('sugar', 266),
 ('butter milk', 262),
 ('ham', 258),
 ('frozen meals', 249),
 ('beverages', 248),
 ('specialty chocolate', 246),
 ('misc. beverages', 234),
 ('oil', 228),
 ('ice cream', 225),
 ('hard cheese', 219),
 ('hygiene articles', 211),
 ('sliced cheese', 210),
 ('cat food', 208),
 ('chewing gum', 181),
 ('flour', 178),
 ('white wine', 178),
 ('herbs', 160),
 ('red wine', 160),
 ('soft cheese', 151),
 ('processed cheese', 151),
 ('baking powder', 140),
 ('dishes', 137),
 ('pickled vegetables', 133),
 ('detergent', 129),
 ('packaged fruit/vegetables', 128),
 ('pasta', 123),
 ('pot plants', 118),
 ('canned fish', 118),
 ('mustard', 109),
 ('seasonal products', 106),
 ('frozen fish', 101),
 ('rice', 101),
 ('spread cheese', 100),
 ('condensed milk', 99),
 ('canned vegetables', 90),
 ('salt', 89),
 ('pet care', 86),
 ('roll products ', 82),
 ('turkey', 80),
 ('photo/film', 78),
 ('mayonnaise', 78),
 ('cling film/bags', 75),
 ('cheese', 74),
 ('dog food', 72),
 ('frozen potato products', 72),
 ('dish cleaner', 72),
 ('flower (seeds)', 70),
 ('sweet spreads', 69),
 ('candles', 65),
 ('ketchup', 57),
 ('popcorn', 56),
 ('sparkling wine', 53),
 ('vinegar', 52),
 ('liver loaf', 50),
 ('soups', 48),
 ('cleaner', 48),
 ('house keeping products', 45),
 ('jam cheese', 45),
 ('sauces', 44),
 ('cereals', 42),
 ('spices', 40),
 ('brandy', 39),
 ('male cosmetics', 36),
 ('kitchen towels', 35),
 ('nuts/prunes', 33),
 ('dental care', 32),
 ('rum', 32),
 ('tea', 30),
 ('specialty fat', 29),
 ('light bulbs', 29),
 ('artif. sweetener', 28),
 ('fish', 27),
 ('potato products', 23),
 ('nut snack', 22),
 ('syrup', 22),
 ('abrasive cleaner', 22),
 ('organic berries', 22),
 ('canned fruit', 21),
 ('honey', 21),
 ('soap', 20),
 ('bathroom cleaner', 19),
 ('skin care', 19),
 ('prosecco', 18),
 ('cream', 18),
 ('pudding powder', 17),
 ('cookware', 16),
 ('ready soups', 15),
 ('cooking chocolate', 15),
 ('cocoa drinks', 15),
 ('frozen fruits', 12),
 ('specialty vegetables', 11),
 ('hair spray', 10),
 ('organic products', 10),
 ('whisky', 9),
 ('liqueur', 9),
 ('decalcifier', 9),
 ('salad dressing', 7),
 ('tinfoil', 6),
 ('potatoes', 6),
 ('make up remover', 5),
 ('bags', 5),
 ('toilet cleaner', 5),
 ('rubbing alcohol', 5),
 ('baby cosmetics', 4),
 ('sea salt', 2),
 ('preservation products', 1),
 ('kitchen utensil', 1),
 ('flaxseed', 1),
 ('champagne', 1),
 ('frozen meal', 1)]

In [127]:
# one-hot encode the data and show the first 5 rows of the resulting df
# don't forget to drop the 'nan' value
encoder = TransactionEncoder().fit(transactions)
onehot = encoder.transform(transactions)
df_onehot = pd.DataFrame(onehot, columns=encoder.columns_).drop('nan', axis=1)
df_onehot.head(5)

,abrasive cleaner,artif. sweetener,baby cosmetics,bags,baking powder,bathroom cleaner,beef,berries,beverages,bottled beer,...,tropical fruit,turkey,vinegar,waffles,whipped/sour cream,whisky,white bread,white wine,whole milk,yogurt
0,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,True,False
1,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,True,False,True,True
2,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,True,False
3,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,True,False
4,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,True,False

In [144]:
# Generate frequent itemsets with a minimum support of 0.5%
df_itemsets = apriori(df_onehot, min_support=0.005, use_colnames=True)

# view the itemsets sorted by most frequent
df_itemsets.sort_values(by=['support'], ascending=False)

      support                          itemsets
77   0.191109                      (whole milk)
45   0.128568                (other vegetables)
2    0.116336                         (berries)
59   0.108181                      (rolls/buns)
66   0.095226                            (soda)
..        ...                               ...
130  0.005195  (whipped/sour cream, whole milk)
50   0.005130                      (photo/film)
38   0.005130                      (mayonnaise)
79   0.005130                   (berries, beef)
105  0.005064                 (jam, whole milk)

[133 rows x 2 columns]

How many itemsets are generated for the following support thresholds?:
* 0.1%
* 0.5%
* 1%
* 10%

In [145]:
# generate association rules with a confidence threshold of 10%
rules_df = association_rules(df_itemsets, metric='confidence', min_threshold=0.1)

# how many rules are generated?
rules_df.shape

rules_df

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
0,(beef),(other vegetables),0.074510,0.128568,0.009930,0.133274,1.036610,0.000351,1.005431
1,(beef),(whole milk),0.074510,0.191109,0.011048,0.148279,0.775887,-0.003191,0.949714
2,(bottled beer),(berries),0.045311,0.116336,0.005590,0.123367,1.060442,0.000319,1.008021
3,(bottled water),(berries),0.060108,0.116336,0.006116,0.101751,0.874629,-0.000877,0.983763
4,(berries),(other vegetables),0.116336,0.128568,0.013218,0.113624,0.883764,-0.001739,0.983140
5,(other vegetables),(berries),0.128568,0.116336,0.013218,0.102813,0.883764,-0.001739,0.984928
6,(pastry),(berries),0.051098,0.116336,0.005787,0.113256,0.973529,-0.000157,0.996527
7,(soda),(berries),0.095226,0.116336,0.009667,0.101519,0.872642,-0.001411,0.983510
8,(berries),(whole milk),0.116336,0.191109,0.018480,0.158847,0.831185,-0.003753,0.961646
9,(berries),(yogurt),0.116336,0.088781,0.012429,0.106840,1.203414,0.002101,1.020220
10,(yogurt),(berries),0.088781,0.116336,0.012429,0.140000,1.203414,0.002101,1.027517
11,(bottled beer),(whole milk),0.045311,0.191109,0.008089,0.178520,0.934126,-0.000570,0.984675
12,(bottled water),(whole milk),0.060108,0.191109,0.008615,0.143326,0.749971,-0.002872,0.944223
13,(brown bread),(whole milk),0.042154,0.191109,0.006116,0.145086,0.759179,-0.001940,0.946167
14,(butter),(whole milk),0.034657,0.191109,0.005590,0.161290,0.843971,-0.001033,0.964447
15,(cake),(whole milk),0.035315,0.191109,0.005393,0.152700,0.799022,-0.001356,0.954669
16,(canned beer),(whole milk),0.046166,0.191109,0.006445,0.139601,0.730480,-0.002378,0.940135
17,(chocolate),(whole milk),0.047415,0.191109,0.007300,0.153953,0.805577,-0.001762,0.956083
18,(citrus fruit),(whole milk),0.052282,0.191109,0.007694,0.147170,0.770084,-0.002297,0.948479
19,(coffee),(whole milk),0.046100,0.191109,0.006774,0.146933,0.768845,-0.002037,0.948215
20,(eggs),(other vegetables),0.049717,0.128568,0.006708,0.134921,1.049413,0.000316,1.007344
21,(eggs),(whole milk),0.049717,0.191109,0.015520,0.312169,1.633464,0.006019,1.176003
22,(jam),(whole milk),0.035118,0.191109,0.005064,0.144195,0.754517,-0.001648,0.945181
23,(newspapers),(whole milk),0.038537,0.191109,0.006708,0.174061,0.910798,-0.000657,0.979360
24,(rolls/buns),(other vegetables),0.108181,0.128568,0.010851,0.100304,0.780165,-0.003058,0.968585
25,(other vegetables),(root vegetables),0.128568,0.076088,0.013087,0.101790,1.337790,0.003304,1.028615
26,(root vegetables),(other vegetables),0.076088,0.128568,0.013087,0.171997,1.337790,0.003304,1.052450
27,(soda),(other vegetables),0.095226,0.128568,0.009601,0.100829,0.784246,-0.002641,0.969151
28,(white bread),(other vegetables),0.035644,0.128568,0.006116,0.171587,1.334602,0.001533,1.051929
29,(other vegetables),(whole milk),0.128568,0.191109,0.019203,0.149361,0.781548,-0.005367,0.950921
30,(whole milk),(other vegetables),0.191109,0.128568,0.019203,0.100482,0.781548,-0.005367,0.968777
31,(pastry),(whole milk),0.051098,0.191109,0.007431,0.145431,0.760986,-0.002334,0.946549
32,(pip fruit),(whole milk),0.048007,0.191109,0.007300,0.152055,0.795645,-0.001875,0.953943
33,(pork),(whole milk),0.040576,0.191109,0.006116,0.150729,0.788710,-0.001638,0.952454
34,(rolls/buns),(whole milk),0.108181,0.191109,0.016770,0.155015,0.811136,-0.003905,0.957285
35,(root vegetables),(whole milk),0.076088,0.191109,0.010719,0.140882,0.737180,-0.003822,0.941536
36,(shopping bags),(whole milk),0.046758,0.191109,0.007431,0.158931,0.831626,-0.001505,0.961742
37,(soda),(whole milk),0.095226,0.191109,0.013153,0.138122,0.722738,-0.005046,0.938521
38,(tropical fruit),(whole milk),0.067605,0.191109,0.009667,0.142996,0.748245,-0.003253,0.943859
39,(whipped/sour cream),(whole milk),0.042483,0.191109,0.005195,0.122291,0.639903,-0.002924,0.921594
40,(white bread),(whole milk),0.035644,0.191109,0.006313,0.177122,0.926811,-0.000499,0.983002
41,(yogurt),(whole milk),0.088781,0.191109,0.013482,0.151852,0.794583,-0.003485,0.953715

In [147]:
# print out the rules sorted by lift
print(rules_df.sort_values(by=['lift'], ascending=False)
      .drop(columns=['antecedent support', 'consequent support', 'conviction'])
      .head(10))

           antecedents         consequents   support  confidence      lift  \
21              (eggs)        (whole milk)  0.015520    0.312169  1.633464
26   (root vegetables)  (other vegetables)  0.013087    0.171997  1.337790
25  (other vegetables)   (root vegetables)  0.013087    0.101790  1.337790
28       (white bread)  (other vegetables)  0.006116    0.171587  1.334602
9            (berries)            (yogurt)  0.012429    0.106840  1.203414
10            (yogurt)           (berries)  0.012429    0.140000  1.203414
2       (bottled beer)           (berries)  0.005590    0.123367  1.060442
20              (eggs)  (other vegetables)  0.006708    0.134921  1.049413
0               (beef)  (other vegetables)  0.009930    0.133274  1.036610
6             (pastry)           (berries)  0.005787    0.113256  0.973529

    leverage
21  0.006019
26  0.003304
25  0.003304
28  0.001533
9   0.002101
10  0.002101
2   0.000319
20  0.000316
0   0.000351
6  -0.000157

In [167]:
# Importing the basket data
df = pd.read_csv('/Users/arushee/Documents/Smurfit/SEM 2/Data Management & Mining/Assosiation assign/assignment_1/data/basket.csv') 
# Unpivot items and products
df = df.melt(id_vars=['ID'], var_name='Item_Num',
             value_name='Product')
df.shape

(167266, 3)

In [168]:
# Import the new grouping file
df_grouping = pd.read_csv('/Users/arushee/Documents/Smurfit/SEM 2/Data Management & Mining/Assosiation assign/assignment_1/grouped_data.csv')
df_grouping.head(8)

            Product         Product Grouping
0        whole milk                     Milk
1  other vegetables               Vegetables
2           berries                   Fruits
3        rolls/buns                   Breads
4              soda  Non-Alcoholic Beverages
5            yogurt           Dairy Products
6   root vegetables               Vegetables
7              beef                     Meat

In [169]:
# Join the original data with the grouping file
df = pd.merge(df, df_grouping, on ='Product', how ='left')

df.shape

(167266, 4)

In [170]:
# Pivot the new data frame
df = df.pivot(index='ID', columns='Item_Num', values='Product Grouping')
df

Item_Num,0,1,10,2,3,4,5,6,7,8,9
ID,,,,,,,,,,,
1,Milk,Eggs,NaN,Snacks,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Milk,Eggs,NaN,Breads,Dairy Products,NaN,NaN,NaN,NaN,NaN,NaN
3,Milk,Eggs,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Milk,Eggs,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,Milk,Eggs,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...
15202,Eggs,Dairy Products,NaN,Chocolate,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15203,Condements,Dairy Products,NaN,Breads,Spreads,Spreads,NaN,NaN,NaN,NaN,NaN
15204,Pet Care,Dairy Products,NaN,Breads,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15205,Condements,Dairy Products,NaN,Grains,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15206,Snacks,Dairy Products,NaN,Cleaning Items,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [177]:
# Creating a list of list 
transactions = []
for i in range(0, len(df)): 
    transactions.append([str(df.values[i,j]) for j in range(0, len(df.columns))])

# Flattening the list of list
flattened = [item for transaction in transactions for item in transaction]

items = list(set(flattened))
rules = list(permutations(items, 3))
item_freq = collections.Counter(flattened)

# One-hot encoding the data 
encoder = TransactionEncoder().fit(transactions)
onehot = encoder.transform(transactions)
df_onehot = pd.DataFrame(onehot, columns=encoder.columns_).drop('nan', axis=1)
df_onehot.head()

# Generating frequent itemsets with a minimum support of 0.5%
df_itemsets = apriori(df_onehot, min_support=0.003, use_colnames=True)

# Viewing the itemsets sorted by most frequent
df_itemsets.shape
df_itemsets.sort_values(by=['support'], ascending=False)

# Generating association rules with a confidence threshold of 10%
rules_df = association_rules(df_itemsets, metric='confidence', min_threshold=0.1)

# Number of rules generated
rules_df.shape

rules_df

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
0,(Alcohol),(Breads),0.094831,0.195778,0.016112,0.169903,0.867835,-0.002454,0.968829
1,(Alcohol),(Dairy Products),0.094831,0.160266,0.012627,0.133148,0.830798,-0.002572,0.968718
2,(Alcohol),(Dessert),0.094831,0.117651,0.009601,0.101248,0.860582,-0.001555,0.981750
3,(Alcohol),(Fruits),0.094831,0.285940,0.022491,0.237171,0.829443,-0.004625,0.936068
4,(Alcohol),(Meat),0.094831,0.162304,0.011772,0.124133,0.764817,-0.003620,0.956419
...,...,...,...,...,...,...,...,...,...
320,"(Vegetables, Meat)",(Non-Alcoholic Beverages),0.029857,0.208207,0.003880,0.129956,0.624166,-0.002336,0.910060
321,"(Meat, Non-Alcoholic Beverages)",(Vegetables),0.024135,0.217020,0.003880,0.160763,0.740776,-0.001358,0.932967
322,"(Vegetables, Non-Alcoholic Beverages)",(Milk),0.034394,0.211627,0.004209,0.122371,0.578239,-0.003070,0.898299
323,"(Vegetables, Milk)",(Non-Alcoholic Beverages),0.034526,0.208207,0.004209,0.121905,0.585497,-0.002980,0.901716
324,"(Non-Alcoholic Beverages, Milk)",(Vegetables),0.031895,0.217020,0.004209,0.131959,0.608050,-0.002713,0.902008

In [178]:
# Printing the rules sorted by lift
print(rules_df.sort_values(by=['lift'], ascending=False)
      .drop(columns=['antecedent support', 'consequent support', 'conviction'])
      .head(15))

                    antecedents                consequents   support  \
97                       (Eggs)                     (Milk)  0.016244
196              (Breads, Eggs)                     (Milk)  0.003025
127                    (Grains)                     (Milk)  0.005064
241              (Fruits, Meat)           (Dairy Products)  0.005327
282              (Fruits, Meat)         (Home supplements)  0.003420
90                (Kitchenware)                  (Dessert)  0.004801
103             (Food Cupboard)  (Non-Alcoholic Beverages)  0.008089
61                 (Condements)         (Home supplements)  0.007826
8             (Canned Products)                   (Breads)  0.004472
238  (Fruits, Home supplements)           (Dairy Products)  0.003485
232           (Chocolate, Milk)                   (Fruits)  0.003354
202              (Fruits, Meat)                   (Breads)  0.005853
243      (Dairy Products, Milk)                   (Fruits)  0.007234
17                       (Eggs)                   (Breads)  0.009404
96                       (Eggs)                     (Meat)  0.007694

     confidence      lift  leverage
97     0.326720  1.543846  0.005722
196    0.321678  1.520025  0.001035
127    0.231928  1.095927  0.000443
241    0.173077  1.079938  0.000394
282    0.111111  1.050066  0.000163
90     0.122689  1.042823  0.000197
103    0.212435  1.020306  0.000161
61     0.104386  0.986509 -0.000107
8      0.192090  0.981164 -0.000086
238    0.156342  0.975519 -0.000087
232    0.278689  0.974641 -0.000087
202    0.190171  0.971360 -0.000173
243    0.276382  0.966574 -0.000250
17     0.189153  0.966163 -0.000329
96     0.154762  0.953529 -0.000375

## Section 2 - OPTION

This section details one of thee options. For the other two options, see the assignment instructions document (*Instructions_Assignment_1.pdf*).

Your task is to implement the Apriori algorithm from "scratch" using the same dataset as Section 1.

You can read the data into a dataframe and use pandas methods but you cannot use mlxtend or another similar package. You should write functions to implement the steps of the algorithm to create frequent itemsets.

Calculate the support, confidence, and lift for single itemset rules.